{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "require": true,
    "module": true,
    "global": true,
    "window": true,
    "describe": true,
    "it": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterEach": true,
    "afterAll": true,
    "expect": true,
    "__dirname": true,
    "spyOn": true
  },
  "rules": {
    "brace-style": [1, "1tbs"],
    "comma-style": [1, "last"],
    "default-case": 1,
    "no-floating-decimal": 1,
    "no-undefined": 1,
    "radix": 2,
    "space-before-function-paren": [1, "never"],
    "space-before-blocks": 1,
    "spaced-comment": [
      1,
      "always",
      {
        "exceptions": ["-"]
      }
    ],
    "valid-jsdoc": [
      1,
      {
        "requireReturn": false,
        "prefer": {
          "return": "returns"
        }
      }
    ],
    "wrap-iife": 1,
    "global-strict": 0,
    "no-alert": 2,
    "camelcase": 1,
    "eqeqeq": [1, "allow-null"],
    "no-empty": 1,
    "no-underscore-dangle": 2,
    "no-obj-calls": 1,
    "new-cap": 1,
    // "no-shadow": 1,
    "no-invalid-regexp": 1,
    "comma-dangle": [1, "never"],
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 1,
    "no-new": 1,
    "no-extra-semi": 1,
    "no-console": 2,
    "no-debugger": 2,
    "no-caller": 1,
    "semi": 2,
    "quotes": [1, "single", "avoid-escape"],
    "no-unreachable": 2,
    "eol-last": 1,
    "curly": 1,
    "dot-notation": 1,
    "yoda": 1,
    "jsx-a11y/href-no-hash":0,
    "no-trailing-spaces": 1,
    "no-multi-spaces": 2,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "react/jsx-curly-spacing": [2, "never"],
    "react/jsx-max-props-per-line": [
      2,
      {
        "maximum": 4
      }
    ],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": [
      2,
      {
        "order": [
          "lifecycle",
          "/^on.+$/",
          "/^render.+$/",
          "render",
          "everything-else"
        ]
      }
    ]
  }
}
