.re-table-container{
    height: 400px;
    overflow: auto;
}
.re-table{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
    border:1px solid #ccc;
}
.re-table tr:nth-child(odd){background-color:#fff}
.re-table tr:nth-child(even){background-color:#f1f1f1}
.re-table td,.re-table th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.re-table th:first-child,.re-table td:first-child{padding-left:16px}
.re-table tr {
    border-bottom:1px solid #ddd;
}
.re-table tbody tr:hover {
    background-color:#ccc
}
.re-thead{

}
.re-thr{

}

.re-tobdy{

}
.re-th-name{

}
.re-th{

}
.re-tc{
    
}
.re-tr{
}
.re-th-icon {
    float: right;
    cursor: pointer;
}
.re-sfp{
    display: block;
    height: 200px;
    border:  1px solid  gray;
   box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.re-sfp-action-btns{
    display: inline;
}
.re-sfp-btn-ok{

}
.re-sfp-btncancel{

}
.re-sort-panel{

}
.re-sort-btn-asc{
    
}
.re-sort-btn-desc{
    
}
.re-sort-asc-text{
    
}
.re-sort-desc-text{
    
}
.re-filter-panel{
    height: 100px;
    overflow: auto;
    border:  1px solid  gray;
}
.re-filter-search{
    
}
.re-filter-select-panel{
    
}
.re-filter-checkbox{

}
.re-filter-checkbox-selectAll{
    
}
.re-filter-paenl-select-text{

}
.re-filter-paenl-selectAll-text{

}
