.re-table-container{

}
.re-table{

}
.re-thead{

}
.re-thr{

}

.re-tobdy{

}
.re-th-name{

}
.re-th{

}
.re-tc{
    
}
.re-tr{
        
}
.re-th-icon {
    float: right;
    cursor: pointer;
}
.re-sfp{
    display: block;
    height: 200px;
    border:  1px solid  gray;
   box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.re-sfp-action-btns{
    display: inline;
}
.re-sfp-btn-ok{

}
.re-sfp-btncancel{

}
.re-sort-panel{

}
.re-sort-btn-asc{
    
}
.re-sort-btn-desc{
    
}
.re-sort-asc-text{
    
}
.re-sort-desc-text{
    
}
.re-filter-panel{
    height: 100px;
    overflow: auto;
    border:  1px solid  gray;
}
.re-filter-search{
    
}
.re-filter-select-panel{
    
}
.re-filter-checkbox{

}
.re-filter-checkbox-selectAll{
    
}
.re-filter-paenl-select-text{

}
.re-filter-paenl-selectAll-text{

}
